@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    svg
        background HNBlue
        .land
            fill white
        .boundary
            fill none
            stroke #333
            stroke-width 0.5px
        .country
            stroke none
